.header {
	background-color : $light-blue;
	color : #dedede;
	//border-bottom : 4px solid $dark-blue;
	//box-shadow : 0px 6px 18px rgba(0,0,0,0.2);
	z-index : 3000;
	position : relative;

	md-button {
		background-color : $light-blue;
		min-width : 100px;

		&:hover {
			background-color : lighten($light-blue, 5%)!important;
		}
		
		button {
			color : #fff;
		}
	}

	h1 {
		color : #fff;
		font-family : $headline-font-family;
		font-weight : bold;
		margin : 0;
		line-height : 80px;
		display : inline-block;
		position : relative;
		left : 15px;

		@media (max-width: 767px) {
			width : 100%;
			text-align : center;
			line-height : 2;
		}
	}

	.sun {
		position : relative;
		top : 7px;
		height : 40px;
		width : 40px;

		@media (max-width: 767px) {
			display : none;
		}
	}

	&__menu__list {
		margin : 0;
		display : inline-block;
		list-style-type : none;
		float : right;
		padding-top : 20px;

		&__item {
			float : left;
			width : auto;
			display : inline-block;
			//line-height : 80px;

			a {
				color : #eee;
				font-size : 1em;
				line-height : 80px;
				display : inline-block;
				padding : 0 30px;
				font-weight : bold;

				&:hover {
					background-color : rgba(0,0,0,0.1);
					color : #fff;
				}
			}
		}
	}
}