@-webkit-keyframes fadeAndGrowIn {
	0% {
		-webkit-transform : scale(0,0);
		opacity : 0;
	}
	100% {
		-webkit-transform : scale(1,1);
		opacity : 1;
	}
}

@-webkit-keyframes loadObjects {
  0%, 60%, 100% {
    -webkit-transform: scale(1, 1);
  }

  20% {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 1;
  }
}

@-webkit-keyframes cardHighlight {
	0% {
		-webkit-transform : translateY(100px) scale(0.9) translateX(5%);
		opacity : 0;
	}
	100% {
		-webkit-transform : translateY(0px) scale(1) translateX(0%);
		opacity : 1;	
	}
}

@-webkit-keyframes cardMainIn {
	0% {
		-webkit-transform : scale(0);
		opacity : 0;
	}
	100% {
		-webkit-tranform : scale(1);
		opacity : 1;
	}
}





/* RIPPLE */
@-webkit-keyframes ripple {
	0%, 75% {
		opacity : 1;
	}
	100% {
		opacity : 0;
		-webkit-transform : scale(2);
	}
}

@-moz-keyframes ripple {
	0%, 75% {
		opacity : 1;
	}
	100% {
		opacity : 0;
		-moz-transform : scale(2);
	}
}

@-o-keyframes ripple {
	0%, 75% {
		opacity : 1;
	}
	100% {
		opacity : 0;
		-o-transform : scale(2);
	}
}

@-ms-keyframes ripple {
	0%, 75% {
		opacity : 1;
	}
	100% {
		opacity : 0;
		-ms-transform : scale(2);
	}
}

@keyframes ripple {
	0%, 75% {
		opacity : 1;
	}
	100% {
		opacity : 0;
		transform : scale(2);
	}
}