$blue : #2b4aa2;
$light-blue : #365dcb;
$dark-blue : #26418e;

$yellow : #f4c900;

$font-family : "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
$headline-font-family : "Roboto Condensed", "Open Sans Condensed", "Roboto", "Open Sans", Arial, Helvetica, sans-serif;

$googletransition : cubic-bezier(0.4, 0, 0.2, 1);
$transition : $googletransition;