<!-- <div class="row">
	<div class="card--container {{card.size}} columns" ng-repeat="card in cards">
		<div class="card visible" data-city="{{card.city}}" data-ripple style="-webkit-transition-duration: {{$index*0.5}}s">
			<h2>
				{{card.city}}
			</h2>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="{{card.size}} columns" ng-repeat="card in cards">
		<md-card>
			<h2>
				{{card.city}}
			</h2>
		</md-card>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<md-card>
			<h2>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam adipisci, deleniti sed! Quibusdam at veritatis molestias magni tempore, atque dolores sint aliquid nam reiciendis, iste porro, saepe voluptatum. Quisquam.
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam adipisci, deleniti sed! Quibusdam at veritatis molestias magni tempore, atque dolores sint aliquid nam reiciendis, iste porro, saepe voluptatum. Quisquam.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam adipisci, deleniti sed! Quibusdam at veritatis molestias magni tempore, atque dolores sint aliquid nam reiciendis, iste porro, saepe voluptatum. Quisquam.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam adipisci, deleniti sed! Quibusdam at veritatis molestias magni tempore, atque dolores sint aliquid nam reiciendis, iste porro, saepe voluptatum. Quisquam.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam adipisci, deleniti sed! Quibusdam at veritatis molestias magni tempore, atque dolores sint aliquid nam reiciendis, iste porro, saepe voluptatum. Quisquam.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam adipisci, deleniti sed! Quibusdam at veritatis molestias magni tempore, atque dolores sint aliquid nam reiciendis, iste porro, saepe voluptatum. Quisquam.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam adipisci, deleniti sed! Quibusdam at veritatis molestias magni tempore, atque dolores sint aliquid nam reiciendis, iste porro, saepe voluptatum. Quisquam.
			</p>
		</md-card>
	</div>
</div>