<!-- <div class="row">
	<div class="card--container {{card.size}} columns" ng-repeat="card in cards">
		<div class="card visible" data-city="{{card.city}}" data-ripple style="-webkit-transition-duration: {{$index*0.5}}s">
			<h2>
				{{card.city}}
			</h2>
		</div>
	</div>
</div> -->

<md-card>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati commodi ratione, animi aut saepe atque nam sapiente labore rem optio corporis voluptatem expedita doloribus mollitia quaerat praesentium voluptatum, inventore dolorum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid provident iure magni eveniet similique molestiae laborum quam, officia debitis repellendus dolorum earum corporis, delectus placeat autem iusto voluptatibus tempore maiores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, totam omnis! Alias consequuntur autem fuga, quaerat inventore numquam, asperiores sint officiis illum molestias ipsa rem, in quod aut iusto sapiente!
</md-card>

<div class="row">
	<div class="{{card.size}} columns" ng-repeat="card in cards">
		<md-card class="md-whiteframe-z5">
			skr
		</md-card>
	</div>
</div>